html, 
body {
	color: #808080;
	padding: 0;
	line-height: 1.15;
	height: 100%;
}

figure {
	margin: 0;
}

.primary-nav--banner {
	width: 100%;
	height: 2.5em;
	background: rgb(167, 169, 172);
	color: #fff;
	margin-right: 1em;
	display: flex;
	justify-content: space-around;
	border-bottom: 4px solid #ff9900;
}

.primary-nav--banner-vol {
	color: #fff;
	font-weight: 300;
	font-size: 0.8em;
}

.article {
	padding: 2em;
	max-width: 87vw;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4em;
}

.article__title {
	color: #000099;
	font-weight: 300;
	font-size: 3rem;
	margin-bottom: 0;
}

.article__subtitle {
	color: #808080; 
	font-weight: 300;
	font-size: 2rem;
	margin-top: 0;
	margin-bottom: 1.2em;
}

.article-content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 1em;
	grid-auto-flow: dense;
}

.content-section {
	padding: 1em;
	background: #fff;
	box-shadow: 
		0 5px 10px rgba(0, 0, 0, 0.1),
		0 20px 20px rgba(0, 0, 0, 0.05);
}

.content-section__hero_large {
	color: #00004d;
	font-size: 2em;
	font-weight: 300;
}

.content-section__headline {
	font-size: 300;
	color: #00004d;
}

.content-section_white {
	color: white;
}

.content-section__sub-headline {
	font-weight: 400;
	font-size: 1.2em;
	color: #f2b236;
}

.content-section__vision{
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}

.content-section__vision_item {
	margin-bottom: 7px;
}

.content-section_image-first {
	display: flex;
	flex-direction: column;
}

.content-section_image-first .content-section__img {
	order: -1;
}

.content-section:nth-child(1) {
	grid-column: 1/-1;
	background: rgba(253, 235, 86, 0.85);
}

.content-section:nth-child(5) {
	grid-column: -3 / -1;
	background: #0039e6;
}

.content-section:nth-child(11) {
	grid-column: 1 / -2;
	background: #0039e6;
}

.content-section:nth-child(19) {
	grid-column: 2 / -1;
	background: #4a3eb3;
}

@media (max-width: 680px) {
	.article-content {
		display: flex;
		flex-direction: column;
	}

	.content-section {
		margin-bottom: 1em;
	}
}

.featured-article {
	margin-top: 3em;
	background-color: hsl(240, 100%, 50%);
	border-bottom: 3px solid hsl(1, 0%, 100%);
	border-top: 3px solid hsl(1, 0%, 100%);
	color: hsl(0, 0%, 100%);
	box-shadow: 0 5px 10px hsla(0, 0%, 0%, 0.1),
				0 20px 20px hsla(0, 0%, 0%, 0.05);
}

.featured-article__wrapper {
	padding: 2em 3em 4em;
}

.featured-article__section-heading{
	font-size: 2rem;
  font-weight: 300;
  margin-bottom: 3rem;
}

.featured-article__title {
	font-size: 2rem;
  line-height: 1.2;
  font-weight: 300;
  margin-top: 0;
}

@media(max-width: 680px) {
  .featured-article__title {
    font-size: 1.75rem;
  }
}

.featured-article__abstract {
	font-weight: 300;
  line-height: 1.4;
}

.featured-article__item {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 1.9em;
	grid-auto-flow: dense;
	max-width: 85vw;
}

@media(max-width: 680px) {
  .featured-article__item {
    display: flex;
    flex-direction: column;
  }
}

.featured-article__image {
	background-color: white;
	font-family: 'Baskerville Old Face'; 
	font-size: 2.3em;
	color: #00004d;
  font-weight: bold;
  width: 100%;
  height: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Including PDF ! */
a[href$=".pdf"]:after { 
	content: "Read more"; 
	font-size: 1.1em;
	color: hsla(240, 100%, 56%, 1);
}

a[href$=".pdf"]:hover::after {
	color: white;
}

.inner-link--yellow {
	color: hsla(60, 98%, 66%, 1);
	background-color: transparent;
}

.btn-small--yellow {
	background-color: hsla(60, 98%, 66%, 1);
	border: 2px solid hsl(60, 100%, 50%);
	padding: 0.5em 0.75em;
  border-radius: 5px;
  display: inline-block;
}

.btn-small--yellow:hover {
	background-color: hsla(210, 100%, 56%, 1);
	border-color: hsla(210, 100%, 80%, 1);
}

.mention {
	margin-top: 2em;
}

.mention-container__wrapper {
	max-width: 78vw;
	margin-left: auto;
	margin-right: auto;
}

.mention-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: minmax(50px, auto);
	grid-row-gap: 1em;
	align-items: center;
	justify-content: center;
}

.mention-heading {
	display: grid;
	grid-template-columns: 1fr 2fr;
	color: #1a1451;
	grid-gap: 2em;
}

.mention-heading__title{
	font-size: 2rem;
  	font-weight: 300;
  	margin-bottom: 3rem;
}

.mention-heading__description {
	padding: 1em 2em;
	font-size: .9rem;
	font-weight: 300;
	line-height: 1.4;
	align-self: center;
	border-left: 1px solid #603cba;
}

.mention-section__subtitle {
	color: #57595c;
	font-size: 1.5em;
	margin-bottom: 0;
}

.mention-content {
	background: hsla(246, 49%, 47%, 1);
	color: #fff;
	border-radius: 5px;
	box-shadow: 0 5px 10px hsla(0, 0%, 0%, 0.1),
				0 20px 20px hsla(0, 0%, 0%, 0.05);
}

.mention-content__item {
	padding: 1rem 0;
	line-height: 1.4;

}

.mention-content__item_xp {
	padding: 1rem 2.25rem;
	line-height: 1.4;
}

@media(max-width: 680px) {
	.mention-heading {
	  display: flex;
	  flex-direction: column;
	}
	.mention-heading__description {
	 border-left: none;	
	 margin-top: -2rem;
	 padding: 0;
	}
}
.page-footer {
	width: 100vw;
	display: flex;
	background-color: rgb(167, 169, 172);
	border-top: 1px solid #ff9900;
	margin-top:  7.65em;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.page-footer__content {
	color: #663300;
}

.page-footer__content_research {
	font-size: 1rem;
	font-weight: 100;
	margin-top: 0;
	margin-bottom: 0;
}

.page-footer__content_lab-name {
	font-size: 0.85rem;
	font-weight: 100;
	text-transform: uppercase;
	margin-top: 3em;
	margin-bottom: 0;
}

.page-footer__content_education {
	font-size: 0.85rem;
	font-weight: 100;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 2em;
}

.page-footer__content_copyright {
	font-size: 0.75rem;
	font-weight: 200;
	margin-top: 0.25em;
}




