html, 
body {
	color: #808080;
	padding: 0;
	line-height: 1.15;
	height: 100%;
}

figure {
	margin: 0;
}

hr {
	height: 6px;
	border: none;
	background: rgba(0, 0, 0, 0.1);
}

hr:last-child {
	margin-right: 60%;
}

hr.image {
	padding-bottom: 50%;
}

/*.wrapper {
	background-color: #00004d;
	padding-top: 4em; 
}*/

.primary-nav--banner {
	width: 100%;
	height: 2.5em;
	background: rgb(167, 169, 172);
	color: #fff;
	margin-right: 1em;
	display: flex;
	justify-content: space-around;
	border-bottom: 4px solid #ff9900;
}

.primary-nav--banner-vol {
	color: #fff;
	font-weight: 300;
	font-size: 0.8em;
}

.wrapper {
	padding: 2em;
	max-width: 87vw;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4em;
}

.wrapper__title {
	color: #000099;
	font-weight: 300;
	font-size: 3rem;
	margin-bottom: 0;
}

.wrapper__subtitle {
	color: #808080; 
	font-weight: 300;
	font-size: 2rem;
	margin-top: 0;
	margin-bottom: 1.2em;
}

.article-content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 1em;
	grid-auto-flow: dense;
}

.buarticle {
	padding: 1em;
	background: #fff;
	box-shadow: 
		0 5px 10px rgba(0, 0, 0, 0.1),
		0 20px 20px rgba(0, 0, 0, 0.05);
}

.buarticle-hero--large {
	color: #00004d;
	font-size: 2em;
	font-weight: 300;
}

.buarticle-main--title {
	font-size: 300;
	color: #00004d;
}

.buarticle-heading {
	font-weight: 400;
	font-size: 1.35em;
	color: black;
}

.buarticle-blue {
	color: white;
}

.buarticle-subheading {
	font-weight: 400;
	font-size: 1.2em;
	color: #f2b236;
}

.buarticle-features--vision {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}

.buarticle-features--vision-item {
	margin-bottom: 7px;
}

.buarticle-section {
	display: flex;
	flex-direction: column;
}

.buarticle-section .buarticle-section--img {
	order: -1;
}

.buarticle:nth-child(1) {
	grid-column: 1/-1;
	background: rgba(253, 235, 86, 0.85);
}

.buarticle:nth-child(5) {
	grid-column: -3 / -1;
	background: #0039e6;
}

.buarticle:nth-child(11) {
	grid-column: 1 / -2;
	background: #0039e6;
}

.buarticle:nth-child(19) {
	grid-column: 2 / -1;
	background: #603cba;
}

.buarticle-scholarship--tittle {

}



@media (max-width: 680px) {
	.article-content {
		display: flex;
		flex-direction: column;
	}

	.buarticle {
		margin-bottom: 1em;
	}
}

.page-footer {
	width: 100vw;
	display: flex;
	background-color: rgb(167, 169, 172);
	border-top: 1px solid #ff9900;
	margin-top:  7.65em;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.page-footer__content {
	color: #663300;
}

.page-footer__content--research {
	font-size: 1rem;
	font-weight: 100;
	margin-top: 0;
	margin-bottom: 0;
}

.page-footer__content--labName {
	font-size: 0.85rem;
	font-weight: 100;
	text-transform: uppercase;
	margin-top: 3em;
	margin-bottom: 0;
}

.page-footer__content--education {
	font-size: 0.85rem;
	font-weight: 100;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 2em;
}

.page-footer__content--copyright {
	font-size: 0.75rem;
	font-weight: 200;
	margin-top: 0.25em;
}




