@font-face {
  font-family: 'TrajanPro-Bold';
  src: url('/fonts/TrajanPro-Bold.woff') format('woff'), url('/fonts/TrajanPro-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'TrajanPro-Regular';
  src: url('/fonts/TrajanPro-Regular.woff') format('woff'), url('/fonts/TrajanPro-Regular.woff2') format('woff2');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.header {
  height: 70vh;
  font-family: 'Trajan Pro Regular', 'Times New Roman', serif;
  text-align: center;
  color: #fff;
  background-color: #15154e;
}

.language-menu {
  font-size: 1.15rem;
  text-align: right;
  padding: 0.5em 1em;
}

.language-menu__item {
  color: #fff;
  padding: 0.475em;
}

.language-menu__item:hover {
  color: #fdfd56;
}

.logo-brand {
  font-family: 'Trajan Pro Bold', 'Times New Roman', serif;
  font-size: 3rem;
  letter-spacing: 0.25em;
  margin: 0;
}

.logo-description {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.logo-description--text {
  display: inline-block;
  list-style: none;
  padding: 0 0.35em;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.about {
  width: 35%;
  text-align: center;
  font-size: 1.2rem;
  line-height: 30px;
  padding: 1.5em;
  background-color: #6d2cb0;
}
