@font-face {
  font-family: 'TrajanPro-Bold';
  src: url('/fonts/TrajanPro-Bold.woff') format('woff'), url('/fonts/TrajanPro-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'TrajanPro-Regular';
  src: url('/fonts/TrajanPro-Regular.woff') format('woff'), url('/fonts/TrajanPro-Regular.woff2') format('woff2');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.language-menu {
  width: 100%;
  font-size: 1.15rem;
  font-family: 'Trajan Pro Regular', 'Times New Roman', serif;
  text-align: right;
  background: #1a1451;
  margin-bottom: 0.625em;
  padding: 0.5em 1em;
}

.language-menu--item {
  color: #fff;
  padding: 0.475em;
}

.language-menu--item:hover {
  color: #fdfd56;
}

.primary-nav {
  margin: 0.4em auto 0;
  text-align: center;
}

.logo-brand {
	color: #1a1451;
	font-family: 'Trajan Pro Bold', 'Times New Roman', serif;
	font-size: 2rem;
  margin: 0;
}

.logo-description {
	display: flex;
  font-family: 'Trajan Pro Regular', 'Times New Roman', serif;
  color: #606060;
	justify-content: center;
	margin-top: 0;
	padding-left: 0;
}

.logo-description--text {
	list-style: none;
	padding: 0 0.313em;
	font-size: 0.75rem;
}

@media only screen and (min-width: 500px) {
	.primary-nav {
		width: 500px;
		display: grid;
		grid-template-columns: auto auto;
	}

	.logo-brand {
		font-size: 4.7rem;
	}

	.logo-description {
		margin-top: 0.2em;
	}

	.logo-description--text {
		font-size: 1rem;
	}
}

@media only screen and (min-width: 800px) {
	.primary-nav {
		width: 800px;
		margin-bottom: 0.4em;
	}

	.logo-brand {
		font-size: 8rem;
	}

	.logo-description {
		margin-top: -0.4em;
		margin-bottom: 0;
	}

	.logo-description--text {
		padding: 0 1.35em;
		font-size: 1.3rem;
	}
}

.logo-description--text {
  list-style: none;
  padding: 0 0.313em;
  font-size: 0.75rem;
}

@media only screen and (min-width: 500px) {
  .primary-nav {
    width: 500px;
    display: grid;
    grid-template-columns: auto auto;
  }

  .logo-img {
    height: 125px;
    width: auto;
  }

  .logo-brand {
    font-size: 4.7rem;
  }

  .logo-description {
    margin-top: 0.2em;
  }

  .logo-description--text {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 800px) {
  .primary-nav {
    width: 800px;
    margin-bottom: 0.4em;
  }

  .logo-img {
    height: 180px;
    width: auto;
  }

  .logo-brand {
    font-size: 8rem;
  }

  .logo-description {
    margin-top: -0.4em;
    margin-bottom: 0;
  }

  .logo-description--text {
    padding: 0 1.35em;
    font-size: 1.25rem;
  }
}

.teaser {
  font-family: 'Trajan Pro Regular', 'Times New Roman', serif;
}

.teaser-item {
  display: grid;
  grid-template-columns: 2fr 2fr;
  margin: 2em;
}

.teaser-item__name {
  position: absolute;
  color: #fff;
  padding: 1.2em;
}

.teaser-item__name_pink {
  right: 0;
  background-color: #d24b4b;
}

.teaser-item__name_blue {
  left: 0;
  background-color: #096a97;
}

.teaser-item__content {
  margin: 2em;
}

.teaser-item__img {
  margin: 2em;
}

.teaser-item__date {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}

.teaser-item__date_pink {
  color: #d24b4b;
}

.teaser-item__date_blue {
  color: #096a97;
}

.teaser-item__tittle {
  color: #15154e;
  margin-top: 0.3em;
}

.teaser-item__botton {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  color: #fff;
  text-transform: uppercase;
  padding: 1.2em;
  border-radius: 0.5em;
}

.teaser-item__botton_pink {
  background-color: #d24b4b;
}

.teaser-item__botton_blue {
  background-color: #096a97;
}

.teaser-item__text {
  width: 400px;
  font-size: 1.2rem;
  line-height: 25px;
}
