
/* The body has a default margin, which we do not want interfering with our image header, which is why we have set it to 0. The reason that we have set the font-family to sans-serif is so that you’re not stuck with Times New Roman */

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.language-menu {
  width: 100%;
  font-size: 1.15rem;
  text-align: right;
  background: #091342;
  margin-bottom: 0.625em;
  padding: 0.5em 1em;
}

.language-menu--item {
  color: #fff;
  padding: 0.475em;
}

.language-menu--item:hover {
  color: #ffc600;
}

.primary-nav {
  margin: 0.4em auto 0;
  text-align: center;
}

.logo-img {
  height: 90px;
  width: auto;
}

.logo-brand {
  color: #091342;
  font-family: 'Baskerville Old Face'; 
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
}

.logo-description {
  display: flex;
  justify-content: center;
  margin-top: 0;
  padding-left: 0;
}

.logo-description--text {
  list-style: none;
  padding: 0 0.313em;
  font-size: 0.75rem;
}

@media only screen and (min-width: 500px) {
  .primary-nav {
    width: 500px;
    display: grid;
    grid-template-columns: auto auto;
  }

  .logo-img {
    height: 125px;
    width: auto;
  }

  .logo-brand {
    font-size: 4.7rem;
  }

  .logo-description {
    margin-top: 0.2em;
  }

  .logo-description--text {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 800px) {
  .primary-nav {
    width: 800px;
    margin-bottom: 0.4em;
  }

  .logo-img {
    height: 180px;
    width: auto;
  }

  .logo-brand {
    font-size: 8rem;
  }

  .logo-description {
    margin-top: -0.4em;
    margin-bottom: 0;
  }

  .logo-description--text {
    padding: 0 1.35em;
    font-size: 1.25rem;
  }
}